{% extends 'base.html' %}
{% block title %}Задание{% endblock %}
{% block content %}
<h1>Фреймворк Django (семинары)</h1>
<h2>Урок 3. Работа с представлениями и шаблонами</h2>
<h3>Задание</h3>

<p>Создайте шаблон, который выводит список заказанных клиентом товаров из всех его заказов с сортировкой по времени:</p>
<ul>
    <li> за последние 7 дней (неделю)</li>
    <li> за последние 30 дней (месяц)</li>
    <li> за последние 365 дней (год)</li>
</ul>
<p>Товары в списке не должны повторятся.</p>
{% endblock %}